div {
  height: 300px;
  border: solid 2px black;
  background: #888;
  box-sizing: border-box; 
}   

@media (min-width: 768px) {
  /* I can contain the divs */
  section {
    width: 2000;
  }
  
  div {
    float: left;
    width: 200px;
  }
}